nav {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
}

.nav-container > nav > ul > li {
  margin-left: 6px;
}
.nav-container > nav > div {
  background-color: white;  
}
